/* 
font-family: 'Space Grotesk', sans-serif;
font-family: 'Yeseva One', cursive;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 770px;
  }
}

/*Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
}
.header {
  background-image: url(../img/img1.jpg);
  background-size: cover;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.9) 0%,
    rgba(29, 154, 253, 0.9) 50%,
    rgba(252, 69, 69, 0.9) 100%
  );
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.header h1 {
  font-size: 50px;
  z-index: 10;
  color: white;
  position: relative;
  transform: translateY(-20px);
}
.header h1::before,
.header h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 14%,
    rgba(70, 58, 180, 1) 100%
  );
}
.header h1::before {
  top: -5px;
  left: 0;
}
.header h1::after {
  bottom: -5px;
  left: 0;
}

.form .container {
  display: flex;
  justify-content: center;
  transform: translateY(-23px);
}
.form .container input:first-child {
  width: 50%;
  border-radius: 40px 0 0 0;
}
.form .container input {
  height: 45px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 0 30px;
}
.form .container input:last-child {
  color: white;
  font-weight: bold;
  background-color: #e0120e;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0 0 40px 0;
}
.form .container input:last-child:hover {
  background-color: #cf2421;
}

.tasks .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 50px 0;
}
.tasks .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
  padding-left: 10px;
  background-color: rgb(231, 231, 231);
  color: white;
}
.tasks .completed::after {
  content: "Completed :)";
  text-align: center;
  color: #000;
  position: absolute;
  margin-left: 25%;
}
.tasks .completed {
  opacity: 0.5;
}
.tasks .task.text {
  display: flex;
  flex-direction: column;
}
.tasks .task p {
  position: relative;
  color: #000;
}
.tasks .task time {
  color: #222;
  font-size: 10px;
}

.tasks .task div:last-child {
  display: flex;
}
.tasks .task div:last-child i {
  padding: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.tasks .task div:last-child i.check {
  background-color: #00a724;
}
.tasks .task div:last-child i.check:hover {
  background-color: #007419;
}
.tasks .task div:last-child i.remove-btn {
  background-color: #00f;
}
.tasks .task div:last-child i.remove-btn:hover {
  background-color: rgb(0, 0, 122);
}

@media (max-width: 767px) {
  .tasks .task {
    width: 90%;
  }
  .form .container input:first-child {
    width: 100%;
    border-radius: 0;
    padding: 0 15px;
  }
  .form .container input:last-child {
    border-radius: 0;
    padding: 0 5px;
  }
}

.confrim-box {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 100vh;
  top: 0;
  text-align: center;
}
.confrim-box .box {
  width: 50%;
  min-width: 310px;
  margin: auto;
  background-color: #f7fcff;
  padding: 30px 10px;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.confrim-box i {
  color: #e0120e;
  font-size: 90px;
}
.confrim-box p {
  padding: 20px 0;
}

.confrim-box .box > div button {
  padding: 8px 16px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
}
.confrim-box .box > div button.confirm-delete {
  background-color: #e0120e;
  color: #fff;
  margin-left: 30px;
  border-color: #cf2421;
  transition: all 0.3s;
}
.confrim-box .box > div button.confirm-delete:hover {
  background-color: #f70400;
}
.bg-red {
  width: 44px;
  text-align: center;
}
@media (max-width: 700px) {
  .confrim-box .box {
    width: 95%;
  }
}
